[submodule "enginelib"]
	path = enginelib
	url = git@github.com:GrandEngineering/enginelib.git
[submodule "engineweb"]
	path = engineweb
	url = git@github.com:IGN-Styly/engineweb.git
[submodule "auth"]
    path = auth
    url = git@github.com:IGN-Styly/authrelay.git
